<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wai.gr.cla">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <meta-data
        android:name="UMENG_APPKEY"
        android:value="5912b22d734be4288c001d05" />
    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="wai.gr.cla.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_font"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".buka.BukaMainActivity" />
        <activity android:name=".buka.NormalActivity" />
        <activity android:name=".buka.UriActivity" >

        </activity>

        <activity android:name=".ui.LauncherActivity">

        </activity>
        <activity android:name=".ui.UpdatePassWordActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.FKListActivity" />

        <receiver android:name=".method.NetWorkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="wai.gr.cla1" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.QuansActivity" />
        <activity android:name=".ui.LiveListActivity"/>
        <activity
            android:name=".ui.OnlyDetailPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.HuTest" />
        <activity android:name=".ui.CardDetailActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask" /> <!--  -->
        <activity android:name=".ui.RegUserActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1104732758" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.QQ_WXActivity" />
        <activity android:name=".ui.PerfaceUserActivity" />
        <activity android:name=".ui.TestListActivity" />
        <activity android:name=".ui.GBDetailActivity" />
        <activity android:name=".ui.MyOrderGVListActivity" />
        <activity
            android:name=".ui.DetailPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tsy.sdk.pay.weixin.WXPayCallbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.Main2Activity" />
        <activity android:name=".ui.ZiXunDetailActivity" />
        <activity android:name=".ui.ResultActivity" />
        <activity android:name=".ui.SearchWord1Activity" />
        <activity android:name=".ui.PointActivity" />
        <activity android:name=".ui.SetActivity" />
        <activity android:name=".ui.UserDetailActivity" />
        <activity android:name=".ui.UserOrderActivity" />
        <activity android:name=".ui.AskListActivity" />
        <activity
            android:name=".ui.AddAskActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.MyOrderListActivity" />
        <activity android:name=".ui.SCTagActivity" />
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity" />
        <activity android:name="me.iwf.photopicker.PhotoPagerActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.JiFenListActivity" />
        <activity android:name=".ui.HFActivity" />
        <activity android:name=".ui.WebActivity" />
        <activity android:name=".ui.DownManageActivity" />
        <activity
            android:name=".ui.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.AddTeacherAskActivity" />
        <activity android:name=".ui.ViewTestActivity" />

        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".ui.TextWebActivity" />
        <activity android:name=".ui.ImgDetailActivity" />
        <activity android:name=".ui.SeeTelActivity" />
        <activity android:name=".ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AddressManageActivity" />
        <activity android:name=".ui.AddAddressActivity" />
        <activity android:name=".ui.CarListActivity" />
        <activity android:name=".ui.ConfimOrderActivity" />
        <activity android:name=".ui.PayResultActivity"></activity>
    </application>

</manifest>